body{
    direction: rtl;
    overflow-x: hidden;
}

.header
{
    direction: rtl;
    width: 100%;
    height: 100px;
    background-color: rgb(83, 83, 227);
}

.headerh4
{
    font-size: xx-large;
    font-family: 'B Nazanin';
    color: white;
    margin-right: 30px;
}

#headerbtn
{
  direction: ltr;
  margin-left: 10px;
}

.sidebar
{
    width: 300px;
    height: 1000px;
    background-color: black;
}

.sidebarli
{
    color: white;
}

.main-body
{
    width: 100%;
    height: 1000px;
    background-image: url(images/back1.webp);
    background-size: cover;
}

.loginform
{
    margin-right: 250px;
    justify-content: center;
    width: 400px;
    height: 400px;
    border: 1px black solid;
    border-radius: 20px;
    background-image: url(images/formback.jpg);
    background-size: cover;
}

.registerform
{
    margin-right: 250px;
    justify-content: center;
    width: 400px;
    height: 700px;
    border: 1px black solid;
    border-radius: 20px;
    background-image: url(images/formback.jpg);
    background-size: cover;
}

#forminput
{
    width: 300px;
}

.addticketform
{
    margin-right: 150px;
    width: 600px;
    height: 500px;
    border: 1px black solid;
    border-radius: 20px;
    background-image: url(images/formback.jpg);
    background-size: cover;
}

#usermanagetable
{
    background-color: white;
    margin-right: 100px;
}

.editticketform
{
    margin-right: 150px;
    width: 600px;
    height: 650px;
    border: 1px black solid;
    border-radius: 20px;
    background-image: url(images/formback.jpg);
    background-size: cover;
}

.answerticketform
{
    margin-right: 150px;
    width: 600px;
    height: 800px;
    border: 1px black solid;
    border-radius: 20px;
    background-image: url(images/formback.jpg);
    background-size: cover;
}

.viewanswerform
{
    margin-right: 150px;
    width: 600px;
    height: 500px;
    border: 1px black solid;
    border-radius: 20px;
    background-image: url(images/formback.jpg);
    background-size: cover;
}

.addmessageform
{
    margin-right: 150px;
    width: 600px;
    height: 400px;
    border: 1px black solid;
    border-radius: 20px;
    background-image: url(images/formback.jpg);
    background-size: cover;
}

.usermessagebox
{
    width: 200px;
    height : 80px;
    background-color: pink;
    border: 1px rgb(121, 115, 115) solid;
    border-radius: 10px;
}

.adminmessagebox
{
    direction: rtl;
    color: white;
    width: 200px;
    height : 80px;
    background-color: rgb(51, 158, 11);
    border: 1px rgb(121, 115, 115) solid;
    border-radius: 10px;

}

#successlogin
{
    text-align: center;
    color: white;
    font-size: x-large;
    width: 500px;
    height: 50px;
    background-color: rgb(46, 46, 207); 
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}

.adminanswerform
{
    margin-right: 150px;
    width: 600px;
    height: 500px;
    border: 1px black solid;
    border-radius: 20px;
    background-image: url(images/formback.jpg);
    background-size: cover;
}